## Lesson 1
# This is the basic Python Commands

In [2]:
# basic python arithmetic
a = 5.5
b = 3
c = a + b
print(c)

8.5

In [8]:
# basic strings

a1 = "Hello to you guys"
a2 = 'Hello from the single qoute'
print(a1)
print(a2)
print(a1+" "+a2)

Hello to you guys
Hello from the single qoute
Hello to you guys Hello from the single qoute

In [9]:
# Numbers as string

b1 = "5.5"
b2 = "3"
print(b1+" "+b2)

5.5 3

In [11]:
c1 = 5.5
c2 = 3
c3 = c1+c2
print(c3)

8.5

In [14]:
# Basic if and else statement

a = 5
b = 10
if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [18]:
# using elif

a = 10
b = 10
if a > b:
    print("a is greater than b")
elif a == b:
    print("a is equal to b")
else:
    print("b is greater than a")

a is equal to b

In [23]:
# using greater or less than and equal

a = 15
b = 10
if a <= b:
    print("a is less or equal to b")
else:
    print("b is greater than a")

b is greater than a

In [27]:
# using and, or conditoons

a = 10
b = 15
c = 20

if a == b or c > b:
    print("Condition met")
else:
    print("Condition is not met")

if a == b and c > b:
    print("Condition met")
else:
    print("Condition is not met")

Condition met
Condition is not met

In [30]:
# Array with same size

a = [100, 200, 500]
b = [500, 600, 1000]
c = a + b
print(c)

[100, 200, 500, 500, 600, 1000]

In [31]:
# Array with different size

a = [100, 200]
b = [500, 600, 1000]
c = a + b
print(c)

[100, 200, 500, 600, 1000]

In [33]:
# Basic for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [36]:
# While loop
count = 0
while count<5:
    print(count)
    count+=0.5

0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

In [42]:
# Basic array with append

names = ["Lou", "Lee", "Ahnuf"]

# Print everyting

print(names)
print("======================================")

#print one by one

for name in names:
    print(name)
print("======================================")

# Extracting data from array

print(names[2])

print("======================================")

#Appending new data
names.append("Hafiz")
print(names)

['Lou', 'Lee', 'Ahnuf']
======================================
Lou
Lee
Ahnuf
======================================
Ahnuf
======================================
['Lou', 'Lee', 'Ahnuf', 'Hafiz']

In [46]:
# Two dimentional arrays

names = [
    ["Lou", "Lee", "Sam"],
    ["Paul", "Henry", "Hakim"],
    ["Ahnuf", "Aiman", "Abdul"]
]

# Printing everything
print(names)
print("======================================")
# Extracting data from matrix
print(names[1][0])

print("======================================")

# Printing one by one
for i in names:
    for name in i:
        print(name)

[['Lou', 'Lee', 'Sam'], ['Paul', 'Henry', 'Hakim'], ['Ahnuf', 'Aiman', 'Abdul']]
======================================
Paul
======================================
Lou
Lee
Sam
Paul
Henry
Hakim
Ahnuf
Aiman
Abdul

# Excercise 1

Please create Matrix with name of 9 different cars, then use if and else statement, if the car name is Porche it prints the car is expensive, if the care is Toyota, it print its median range car and if its is produa it prints its an affordable car