## Lesson 3
# Pandas

In [2]:
# Importing Libraries
import pandas as pd

In [5]:
# Basic data table in Pandas

df = pd.DataFrame({
    'A':[1,2,3],
    'B':[4,5,6],
    'C':[7,8,9]
}, index=['x','y','z'])
df.head()

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [7]:
# Getting just 2 rows
df.head(2)

   A  B  C
x  1  4  7
y  2  5  8

In [9]:
# Getting from bottom to top
df.tail()

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [10]:
# Getting just 2 rows
df.tail(2)

   A  B  C
y  2  5  8
z  3  6  9

In [11]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [13]:
df.index.tolist()

['x', 'y', 'z']

In [14]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [15]:
df['A'].unique()

array([1, 2, 3])

In [16]:
df.shape

(3, 3)

In [17]:
df.size

9