# Pandas Practice Exercise: Analyzing Olympic Athlete Data and Coffee Sales

Welcome to your practice exercise! This is designed to reinforce the Pandas concepts covered in the lesson, including creating DataFrames, exploring data (head/tail/info/describe), filtering, sorting, grouping, merging, adding columns, applying functions (lambda and custom def), handling dates, cleaning data, and basic aggregations.

You'll work with two datasets:
- **bios.csv**: Contains biographical data on Olympic athletes (e.g., name, born_date, born_city, height_cm, weight_kg, etc.).
- **coffee.csv**: Contains simple coffee sales data (e.g., Day, Coffee Type, Units Sold).

**Instructions**:
- Use Pandas to complete each task.
- Write your code in the provided code cells.
- For each task, display the result (e.g., using `head()` or printing the output).
- If a task involves creating or modifying a DataFrame, make a copy of the original to avoid overwriting data.
- Bonus: Use comments in your code to explain what each step does.
- Run all cells and ensure no errors.
- Export your notebook as PDF or HTML for submission.
- Share any insights or challenges you faced in the comments.

**Setup Code** (Run this first):

In [1]:
import pandas as pd
import numpy as np

# Load the datasets
bios = pd.read_csv('./assets/bios.csv')
coffee = pd.read_csv('./assets/coffee.csv')

## Part 1: Basic Data Exploration (Using bios.csv)

**1. Display the first 10 rows** of the `bios` DataFrame using `head()`. Then, display the last 5 rows using `tail()`.

In [2]:
# Your code here
bios.head(10)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
7,8,Henri Cochet,1901-12-14,Villeurbanne,Rhône,FRA,France,NaN,NaN,1987-04-02
8,9,Marcel Cousin,1896-08-04,Nîmes,Gard,FRA,France,NaN,NaN,1986-08-01
9,10,Guy de la Chapelle,1868-07-16,Farges-Allichamps,Cher,FRA,France,NaN,NaN,1923-08-27

In [3]:
bios.tail(5)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

## 2. Get dataset info**: Use `info()` to show the structure of `bios`. How many rows and columns are there? What are the data types? (Answer in a comment.)

In [4]:
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

**3. Summary statistics**: Use `describe()` on the numerical columns (e.g., height_cm, weight_kg). What is the average height of the athletes? (Answer in a comment.)

In [5]:
display(bios[['height_cm', 'weight_kg']].describe())

           height_cm      weight_kg
count  106651.000000  102070.000000
mean      176.333724      71.890996
std        10.380282      14.465540
min       127.000000      25.000000
25%       170.000000      62.000000
50%       176.000000      70.000000
75%       183.000000      80.000000
max       226.000000     198.000000

**4. Columns and Index**: Print the list of columns in `bios`. Convert the index to a list and print the first 5 index values.

In [6]:
print("Columns in bios:")
print(bios.columns.tolist())

print('================================')

print("\nFirst 5 index values:")
print(bios.index.tolist()[:5])

Columns in bios:
['athlete_id', 'name', 'born_date', 'born_city', 'born_region', 'born_country', 'NOC', 'height_cm', 'weight_kg', 'died_date']
================================

First 5 index values:
[0, 1, 2, 3, 4]

## Part 2: Filtering and Sorting (Using bios.csv)

**5. Filter rows**: Create a new DataFrame containing only athletes from France (NOC == 'FRA'). How many such athletes are there? (Use `value_counts()` on the 'NOC' column to verify.)

In [11]:
france_bios = bios[bios['NOC'] == 'France'].copy()
print("Athletes from France:")
display(france_bios.head())

print('=================================')
print("\nCount of athletes from France:")
print(france_bios.value_counts())
print('=================================')
print(f"\n The lengh is:, {len(france_bios)}")

Athletes from France:

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

=================================

Count of athletes from France:
athlete_id  name               born_date   born_city     born_region           born_country  NOC     height_cm  weight_kg  died_date
138446      Jacques Demaré     1900-09-01  Vincennes     Val-de-Marne          FRA           France  185.0      78.0       1935-12-09    1
3           Jean Borotra       1898-08-13  Biarritz      Pyrénées-Atlantiques  FRA           France  183.0      76.0       1994-07-17    1
4           Jacques Brugnon    1895-05-11  Paris VIIIe   Paris                 FRA           France  168.0      64.0       1978-03-20    1
2986        Patrice Aouissi    1966-02-24  Lyon          Rhône                 FRA           France  192.0      81.0       2023-07-08    1
3015        Aldo Cosentino     1947-10-19  Tunis         Tunis                 TUN           France  162.0      54.0       2023-10-07    1
                                                                                                                                        ..
5724        Louis Bertorelle   1932-08-05  Saint-Juéry   Tarn                  FRA           France  190.0      86.0       2012-02-27    1
5728        Jean-Paul Beugnot  1931-06-25  Schiltigheim  Bas-Rhin              FRA           France  207.0      104.0      2001-02-07    1
5750        Pierre Boël        1911-07-04  Croix         Nord                  FRA           France  188.0      87.0       1968-05-25    1
5801        André Buffière     1922-11-12  Vion          Ardèche               FRA           France  185.0      85.0       2014-10-02    1
5827        Pierre Caque       1909-08-27  Bétheniville  Marne                 FRA           France  187.0      90.0       1949-01-01    1
Name: count, Length: 559, dtype: int64
=================================

 The lengh is:, 6339

**6. Multiple conditions**: Filter for athletes who are taller than 180 cm and weigh more than 80 kg. Sort this filtered DataFrame by `height_cm` in descending order. Display the top 5.

In [12]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [14]:
tall_heavy = bios[(bios['height_cm'] >180) & (bios['weight_kg'] >80)].copy()
tall_heavy_sorted = tall_heavy.sort_values(by='height_cm', ascending=False)
display(tall_heavy_sorted.head(5))

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
89070,89782,Yao Ming,1980-09-12,Xuhui District,Shanghai,CHN,People's Republic of China,226.0,141.0,NaN
5781,5804,Tommy Burleson,1952-02-24,Crossnore,North Carolina,USA,United States,223.0,102.0,NaN
6978,7013,Arvydas Sabonis,1964-12-19,Kaunas,Kaunas,LTU,Lithuania Soviet Union,223.0,122.0,NaN
89075,89787,Roberto Dueñas,1975-11-01,Madrid,Madrid,ESP,Spain,221.0,137.0,NaN
120266,122147,Zhang Zhaoxu,1987-11-18,Binzhou,Shandong,CHN,People's Republic of China,221.0,110.0,NaN

**7. Access specific data**: Using `loc`, select the 'name', 'height_cm', and 'weight_kg' for athletes with `athlete_id` between 10 and 20 (inclusive). Then, using `iloc`, select the first 5 rows and first 3 columns of the original `bios`.

In [15]:
loc_selection = bios.loc[(bios['athlete_id'] >= 10) & (bios['athlete_id'] <= 20), ['name', 'height_cm', 'weight_kg']]
display(loc_selection)

                       name  height_cm  weight_kg
9        Guy de la Chapelle        NaN        NaN
10  Élie, Comte de Lastours        NaN        NaN
11              Max Decugis        NaN        NaN
12                J. Defert        NaN        NaN
13           Étienne Durand        NaN        NaN
14              Damien Éloi      165.0       58.0
15   Adrien Fauchier-Magnan        NaN        NaN
16               Guy Forget      189.0       79.0
17     Jean-Philippe Gatien      178.0       73.0
18           Maurice Germot        NaN        NaN
19             André Gobert        NaN        NaN

In [16]:
iloc_selection = bios.iloc[:5, :3]
display(iloc_selection)

   athlete_id                   name   born_date
0           1  Jean-François Blanchy  1886-12-12
1           2         Arnaud Boetsch  1969-04-01
2           3           Jean Borotra  1898-08-13
3           4        Jacques Brugnon  1895-05-11
4           5           Albert Canet  1878-04-17

## Part 3: Adding Columns and Applying Functions (Using bios.csv)

**8. Handle dates**: Convert the 'born_date' column to datetime format. Add a new column 'born_year' by extracting the year from 'born_date' (use `.dt.year`).

In [17]:
bios_dates  = bios.copy()

bios_dates.head(4)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20

In [19]:
bios_dates['born_date'] = pd.to_datetime(bios_dates['born_date'], errors='coerce')
bios_dates['born_year'] = bios_dates['born_date'].dt.year
bios_dates.head(4)
bios_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  datetime64[ns]
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
 10  born_year     143693 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 12.2+ MB

**9. Clean data**: Some heights might have 'cm' appended (check the data). If present, remove 'cm' from 'height_cm' and convert it to float. Fill any missing values in 'height_cm' and 'weight_kg' with the column mean.

In [20]:
bios_clean = bios.copy()
bios_clean.head(4)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20

In [21]:
bios_clean['height_cm'] = bios_clean['height_cm'].astype(str).str.replace('cm', '', regex=False)
bios_clean['height_cm'] = pd.to_numeric(bios_clean['height_cm'], errors='coerce')
bios_clean['height_cm'] = bios_clean['height_cm'].fillna(bios_clean['height_cm'].mean())
bios_clean['weight_kg'] = bios_clean['weight_kg'].fillna(bios_clean['weight_kg'].mean())
bios_clean.head(10)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,176.333724,71.890996,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.000000,76.000000,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.000000,76.000000,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.000000,64.000000,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,176.333724,71.890996,1930-07-25
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.000000,70.000000,NaN
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.000000,73.000000,NaN
7,8,Henri Cochet,1901-12-14,Villeurbanne,Rhône,FRA,France,176.333724,71.890996,1987-04-02
8,9,Marcel Cousin,1896-08-04,Nîmes,Gard,FRA,France,176.333724,71.890996,1986-08-01
9,10,Guy de la Chapelle,1868-07-16,Farges-Allichamps,Cher,FRA,France,176.333724,71.890996,1923-08-27

**10. Lambda function**: Add a column 'height_category' using a lambda function:
- 'Short' if height_cm < 170
- 'Average' if 170 <= height_cm <= 180
- 'Tall' if height_cm > 180
- 'Unknown' if NaN
Display the value counts for this new column.

In [22]:
bios_height = bios.copy()
bios_height.head(4)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20

In [23]:
bios_height['height_category'] = bios_height['height_cm'].apply(
    lambda x: 'Unknown' if pd.isna(x) else ('Short' if x <170 else ('Average' if x<=180 else 'Tall'))
)
print(bios_height['height_category'].value_counts())

print("========================================")

print(bios_height[['name', 'height_cm','height_category']].head())

height_category
Average    44641
Unknown    38849
Tall       35368
Short      26642
Name: count, dtype: int64
========================================
                    name  height_cm height_category
0  Jean-François Blanchy        NaN         Unknown
1         Arnaud Boetsch      183.0            Tall
2           Jean Borotra      183.0            Tall
3        Jacques Brugnon      168.0           Short
4           Albert Canet        NaN         Unknown

**11. Custom def function**: Define a function `bmi_category` that takes a row and returns:
- 'Underweight' if weight_kg / (height_cm/100)^2 < 18.5
- 'Normal' if 18.5 <= BMI < 25
- 'Overweight' if BMI >= 25
- 'Invalid' if height or weight is NaN
Apply this function to each row (use `apply` with axis=1) and add a 'bmi_category' column. Display the first 10 rows of 'name', 'height_cm', 'weight_kg', and 'bmi_category'.

In [24]:
bios_bmi = bios.copy()
bios_bmi.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [28]:
def bmi_category(row):
    if pd.isna(row['height_cm']) or pd.isna(row['weight_kg']):
        return 'Invalid'
    bmi = row['weight_kg']/ (row['height_cm']/100)**2
    if bmi < 18.5:
        return "Underweight"
    elif 18.5 <= bmi <25:
        return "Normal"
    else:
        return "Overweight"

bios_bmi['bmi_category'] = bios_bmi.apply(bmi_category, axis=1)
bios_bmi.head(4)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,bmi_category
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Invalid
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Normal
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Normal
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Normal

## Part 4: Grouping and Aggregating (Using bios.csv and coffee.csv)

**12. Group by NOC**: Group `bios` by 'NOC' and calculate the mean `height_cm` and median `weight_kg` for each country. Sort by mean height descending and display the top 10 countries.

In [30]:
noc_stats = bios.groupby('NOC').agg({'height_cm': 'mean', 'weight_kg': 'median'})
noc_stats_sorted = noc_stats.sort_values(by='height_cm', ascending=False)

print("Top 10 countries by mean height")
display(noc_stats_sorted.head(10))

Top 10 countries by mean height

                                           height_cm  weight_kg
NOC
Finland South Africa                           203.0      130.0
Hungary Slovakia                               202.0      112.0
Serbia and Montenegro Spain                    200.0      118.0
Argentina Australia                            199.0       91.0
Croatia Spain                                  198.0       92.0
Montenegro Serbia Serbia and Montenegro        198.0      115.0
Serbia and Montenegro Slovenia Yugoslavia      197.0       93.0
Serbia Serbia and Montenegro Yugoslavia        196.0       94.0
Brazil Croatia                                 196.0      120.0
Croatia Slovenia Yugoslavia                    196.0      105.0

**13. Aggregate sales**: Using `coffee`, group by 'Day' and calculate the total 'Units Sold'. Which day had the highest sales? (Answer in a comment.)

In [31]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [32]:
daily_sale = coffee.groupby('Day')['Units Sold'].sum()
print(daily_sale)

Day
Friday       80
Monday       40
Saturday     80
Sunday       80
Thursday     70
Tuesday      50
Wednesday    60
Name: Units Sold, dtype: int64

**14. Pivot table (Bonus)**: Create a pivot table from `coffee` with 'Day' as index, 'Coffee Type' as columns, and sum of 'Units Sold' as values.

In [33]:
pivot_coffee = coffee.pivot_table(values = 'Units Sold', index= 'Day', columns='Coffee Type', aggfunc='sum')
display(pivot_coffee)

Coffee Type  Espresso  Latte
Day
Friday             45     35
Monday             25     15
Saturday           45     35
Sunday             45     35
Thursday           40     30
Tuesday            30     20
Wednesday          35     25

## Part 5: Merging DataFrames (Using both CSVs)

**15. Simulate a merge**: Create a small `results` DataFrame as shown below. Merge it with `bios` on 'athlete_id' using an inner join. Display the merged DataFrame.

```python
results_data = {
    'athlete_id': [1, 2, 3, 4, 5],
    'medal': ['Gold', 'Silver', None, 'Bronze', 'Gold'],
    'event': ['Tennis Singles', 'Tennis Doubles', 'Tennis Singles', 'Tennis Doubles', 'Fencing']
}
results = pd.DataFrame(results_data)
```

In [34]:
bios.head(4)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20

In [35]:
results_data = {
    'athlete_id': [1, 2, 3, 4, 5],
    'medal': ['Gold', 'Silver', None, 'Bronze', 'Gold'],
    'event': ['Tennis Singles', 'Tennis Doubles', 'Tennis Singles', 'Tennis Doubles', 'Fencing']
}
results = pd.DataFrame(results_data)

merged_df = pd.merge(bios, results, on='athlete_id', how='inner')
display(merged_df)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,medal,event
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Gold,Tennis Singles
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Silver,Tennis Doubles
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,None,Tennis Singles
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Bronze,Tennis Doubles
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Gold,Fencing

**16. Coffee enhancements**: Add a new column to `coffee` called 'Price' using a lambda: 3.5 if 'Espresso', 4.5 if 'Latte'. Then, add a 'Revenue' column (Units Sold * Price). Group by 'Coffee Type' and sum the 'Revenue'.

In [36]:
coffee_enhanced = coffee.copy()
coffee_enhanced.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [38]:
coffee_enhanced['Price'] = coffee_enhanced['Coffee Type'].apply(
    lambda x:3.5 if x == 'Espresso' else 4.5
)
coffee_enhanced['Revenue'] = coffee_enhanced['Price'] * coffee_enhanced['Units Sold']

revenue_by_type = coffee_enhanced.groupby('Coffee Type')['Revenue'].sum()

display(coffee_enhanced.head())

print('=================================')

display(revenue_by_type)

         Day Coffee Type  Units Sold  Price  Revenue
0     Monday    Espresso          25    3.5     87.5
1     Monday       Latte          15    4.5     67.5
2    Tuesday    Espresso          30    3.5    105.0
3    Tuesday       Latte          20    4.5     90.0
4  Wednesday    Espresso          35    3.5    122.5

=================================

Coffee Type
Espresso    927.5
Latte       877.5
Name: Revenue, dtype: float64

## Bonus (Optional)
Try plotting a histogram of athlete heights using `bios['height_cm'].hist()`. Add appropriate labels and title.

In [ ]:
# Your code here

## Submission
- Run all cells and ensure no errors.
- Export your notebook as PDF or HTML.
- Share any insights or challenges you faced in a comment below.

In [ ]:
# Your comments here