## Lesson 6
# Scikit Learn

## For Scikit Learn Model Selection:

https://scikit-learn.org/stable/api/sklearn.model_selection.html

## For Scikit Learn Feature Extraction:

https://scikit-learn.org/stable/modules/feature_extraction.html

## For Scikit Learn Different Vector Algorithms:

https://scikit-learn.org/stable/supervised_learning.html

In [3]:
# Import libraries

import numpy as np
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score, f1_score
from imblearn.over_sampling import RandomOverSampler

In [4]:
# Load the dataset

data_path = "./assets/railway_maintenance.json"
df = pd.read_json(data_path)
df.head(4)

,id,Date,Description,Price,Duration of maintenance
0,1,2023-09-09,Signal system inspection and repair,3130,3
1,2,2015-02-10,Overhead electrical line maintenance,20183,5
2,3,2015-06-24,Rail fastening and welding,29828,4
3,4,2022-01-26,Emergency repair due to track failure,5178,2

In [5]:
# Price categorization

def categorized_price(price):
    if price < 10000:
        return "cheap"
    elif 10001<= price <= 30000:
        return "ok"
    else:
        return "expensive"
df["Category"]=df["Price"].apply(categorized_price)
df.head(15)

,id,Date,Description,Price,Duration of maintenance,Category
0,1,2023-09-09,Signal system inspection and repair,3130,3,cheap
1,2,2015-02-10,Overhead electrical line maintenance,20183,5,ok
2,3,2015-06-24,Rail fastening and welding,29828,4,ok
3,4,2022-01-26,Emergency repair due to track failure,5178,2,cheap
4,5,2015-04-27,Grade crossing renewal,1281,1,cheap
5,6,2015-06-14,Grade crossing renewal,7978,3,cheap
6,7,2019-09-19,Railcar maintenance and refurbishing,27346,4,ok
7,8,2017-10-27,Track realignment and resurfacing,15818,5,ok
8,9,2018-07-27,Switch and turnout servicing,78489,17,expensive
9,10,2023-11-03,Signal system inspection and repair,7405,3,cheap
10,11,2024-12-30,Overhead electrical line maintenance,4775,1,cheap
11,12,2021-11-18,Emergency repair due to track failure,5625,1,cheap
12,13,2020-09-27,Ballast replacement and drainage improvement,8652,3,cheap
13,14,2020-07-17,Overhead electrical line maintenance,18314,5,ok
14,15,2023-03-21,Switch and turnout servicing,9495,1,cheap

In [6]:
# Spliting data
X_train, X_test, y_train, y_test = train_test_split(df["Description"], df["Category"], test_size=0.2, random_state=42)

In [7]:
# Balance the dataset
oversampler = RandomOverSampler(random_state=42)
X_train_resampled, y_train_resampled = oversampler.fit_resample(X_train.values.reshape(-1,1), y_train)
X_train_resampled = X_train_resampled.ravel()

In [ ]:
# Vectrorize and create a pipeline:

vectorizer = TfidfVectorizer()